.card {
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: skyblue
  }

  .card{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 0.5rem 0.5rem 0 0.5rem;
    border: 0.5px solid rgb(136, 136, 136);
    
  }

.card-grid{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    width: 90vw;
    flex-wrap: wrap;
    padding: 1rem 1rem 0 1rem;
    background-color: rgb(212, 245, 250);
  }
  
  .card-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .card-grid h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .card-grid p {
    margin: 0;
    color: #040404;

  } 

  .favButton{
    background-color: rgba(136, 136, 136, 0.116);
    padding: 10px;
    border: none;
    width: 90%;
    cursor: pointer;
    border-radius: 10%;
  
  }
  .favButton:hover {
    background-color: #1bcde1;
  }