footer {
    width: 100%;
    background-color: #638cb5;
    color: #000000;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    background-color: rgb(212, 245, 250);
    margin-top: 2rem;
    height: 40px;
  }
  
  footer .logoFoot {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logoFoot img {
    width: 200px;
    margin: 0;
  }
  
  footer .logoFoot p { 
    font-weight: bold;
  }
  
  footer .redes {
    display: flex;
    gap: 10px;
    height: 25px;
    width: 200px;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
 
