
.contact-container {
    width: 100%;
    padding: 20px;
    background-color: rgb(212, 245, 250);
    color: #333;
    text-align: center;
  }
  
  .contact-container h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .contact-container p {
    font-size: 1.2rem;
    color: #555;
  }
  
  
  button { 
    padding: 5px 5px;
     color:black;
    margin-top: 4px;
    border-radius: 2px;
    cursor: pointer;
  }
  form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}