body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(212, 245, 250);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favs {
font-weight: bold;
font-size: 20px;
}
.dark .favs {
  color: white;
}
h1{

  text-align: center;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.dark .detail-container {
  padding: 2rem;
  max-width: 800px;
  margin: 2rem auto;
  background-color: #12121296;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
}
.dark {
  background-color: rgb(40, 55, 65);
  color: white;
}
.dark .form-container {
  color: white;
}
.dark .contact-container{
  background-color: rgb(40, 55, 65);
}
.dark .contact-container p {
  color: white;
}
.dark .contact-container h2{
  color: white;
}
.dark .navbar {
  background-color: #3c3f3e96;
}
.dark footer{
  background-color: #3c3f3e96;
  color: white;
}

.dark .favButton{
  background-color: #12121296;
}
.dark .favButton:hover {
  background-color: #035c66;
}
.dark button {
  background-color: #555;
  color: white;
}
.dark .card {
  background-color: rgb(8, 81, 97);
}
.dark button:hover {
  background-color: #777;
}
.dark .card-grid {
  background-color: rgb(40, 55, 65);
}


