.navbar {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: background-color 0.3s ease;

    
  }
  
  .navbar-container {
    display: flex;
     width: 80vw;
    justify-content: flex-end;
    padding: 0.5rem;
   box-shadow: -10px 0 15px -5px #638cb5, 10px 0 15px -5px #638cb5;;
  }
  
  .dark nav a {
    color: white;
  }
  
  .navbar .nav-links {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    
  }
  
  .navbar .nav-links:hover {
    color: #f39c12;
  }

  .light-mode {
    background-color: #fff;
    color: #333;
    background-color: rgb(185, 238, 246);
  }
  
  .dark-mode {
    background-color: #12121296;
    color: #fff;
    
  }
  
  .theme-toggle {
    margin-left: 20px;
    padding: 0px 15px 0px 10px;
    border: 4px solid #9ce5f7;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  